<!DOCTYPE html>
<html> 
    <head>
        <title>Kockanje</title>
    </head>

    <div>
        <table>
            <tr>
                <th>Kombinacije</th>
                <th>Točke</th>
            </tr>
            % for i, key in enumerate(tabela):
            <tr>
                % if key in odprte_kombinacije and met != ZACETEK:
                <td>
                    <form action='/izberi-kombinacjo/{{ i }}/' method="POST">
                        <input type="hidden" name="{{ key }}"> 
                        <input type="submit" value="{{ key }}">
                    </form>
                </td>
                <td>{{ tabela[key] }}</td>
                % else:
                <td>{{ key }}</td>
                <td>{{ tabela[key] }}</td>
                % end
            </tr>
            % end
        </table>
    </div>
    
    <div>
        %if konec:
        <table>
            <tr>
                % for ime_kocke in 'ABCDE':
                <th>{{ ime_kocke }}</th>
                %end
            </tr>
            <tr>
                % for kocka in met:
                <td>{{ kocka }}</td>
                %end
            </tr>
        </table>

        % elif st_metov == STEVILO_METOV:
        <table>
            <tr>
                % for ime_kocke in 'ABCDE':
                <th>{{ ime_kocke }}</th>
                %end
            </tr>
            <tr>
                % for kocka in met:
                <td>{{ kocka }}</td>
                %end
            </tr>
        </table>
        <form action='/izberi-met/' method="POST">
            <input type="submit" value="Vrži">
        </form>

        % elif st_metov > 0:
        <form action='/izberi-met/' method="POST">
            <table>
                <tr>
                    <td><input type="checkbox" name="a"> A </td>
                    <td><input type="checkbox" name="b"> B </td>
                    <td><input type="checkbox" name="c"> C </td>
                    <td><input type="checkbox" name="d"> D </td>
                    <td><input type="checkbox" name="e"> E </td>
                </tr>
                <tr>
                    % for kocka in met:
                    <td>{{ kocka }}</td>
                    %end
                </tr>
            </table>
            <input type="submit" value="Vrži še enkrat">
        </form>
        % else:
        <table>
            <tr>
                % for ime_kocke in 'ABCDE':
                <th>{{ ime_kocke }}</th>
                %end
            </tr>
            <tr>
                % for kocka in met:
                <td>{{ kocka }}</td>
                %end
            </tr>
        </table>
        % end
    </div>
    <div>
        {{ met }} {{ poteze }} {{ st_metov}}
    </div>
    <div>
        <form action='/reset/' action="GET">
            <input type="submit" value="Resetiraj" name="resetiranje">
        </form>
    </div>    
</html>